body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

main {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.pages {
  flex-grow: 1;
  max-height: 100%;
  width: 100%;
}

.content-contact > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffc033;
}

p {
  display: flex;
  align-items: flex-end;
}

.content-about-me,
.content-thoughts,
.content-contact,
.content-cv {
  display: none;
}

.gridz,
main {
  position: absolute;
}
