/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 700 */

/* .finlandica-<uniquifier > {
  font-family: "Finlandica", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* div {
  border: 2px solid transparent;
  padding: 15px;
  border-image-source: url(/assets/img/cat.png);
  border-image-repeat: repeat;
  border-image-slice: 30;
} */

* {
  box-sizing: border-box;
}

body {
  font-family: "Finlandica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.topics {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.full-page {
  background-color: transparent;
  flex: 0 0 auto;
  padding: 0em 3em;
  /* width: 150vw; */
}

.heading {
  height: 20vh;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

h1 {
  /* padding-bottom: 2em; */
  font-size: 2em;
}

.heading > audio {
  padding-left: 2em;
}

p {
  line-height: 1.2;
  padding-bottom: 0.5em;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}

.subject {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
  align-items: center;
  /* position: sticky;
  transform: translate(120px, 50%);
  padding-bottom: 2em 0em; */
}

img {
  width: auto;
  max-height: 400px;
  border: 7px dotted;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 300px;
  height: 30px;
}

.full-page:nth-child(odd) {
  background-color: #002f6c;
  color: #ffffff;
  border-color: #ffffff;
}

.full-page:nth-child(even) {
  background-color: #ffffff;
  color: #002f6c;
  border-color: #002f6c;
}
