body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

main {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

header {
  /* height: 20%; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pages {
  /* flex-grow: 1; */
  height: 50%;
  /* max-height: 100%; */
  width: 100%;
}

.content-contact > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-items: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ffc033;
}

p {
  display: flex;
  align-items: flex-end;
}

.content-about-me,
.content-thoughts,
.content-contact,
.content-cv {
  display: none;
}

.grid-max {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
}

.grid-cell {
  outline: 1px solid #000000;
  outline-offset: -0.5px;
}

.grid-max:nth-child(even) > .grid-cell:nth-child(even),
.grid-max:nth-child(odd) > .grid-cell:nth-child(odd) {
  background-color: #ffc033;
  /* background: linear-gradient(90deg, #000fe3, #ffc033); */
}
