:root {
  --background-color: #f2f0e4;
  --border-color: #1d1d1c10;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
a,
p,
span {
  font-family: "fagun", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% / 3);
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

#nav-logo-section {
  justify-content: flex-start;
}

#nav-logo-section > a > #svg1 {
  size: 2.5rem;
}

#nav-link-section {
  gap: 6rem;
}

#nav-social-section {
  gap: 3rem;
}

main {
  flex-grow: 1;
}

main > article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

main > article > .article-section {
  height: 100%;
}

main > article > .article-description-section,
main > article > .article-nav-section {
  border-left: 1px solid var(--border-color);
}

main > article > .article-title-section,
main > article > .article-nav-section {
  border-top: 1px solid var(--border-color);
}
